
<mat-card class="example-card">
  <div class="card__header">
    <a href="/posts" style="text-decoration: none;">   <img
    src="{{src}}"
    alt="card__image" class="card__image" width="600"></a>
  </div>
  <mat-card-content>
   
    <h4>{{name}}</h4>
    <div [ngClass]="{'limitTextHeight': isReadMore}">

     {{description}}
  </div>
  <u><a (click)="showText()">
      {{ isReadMore ? 'Read More': 'Read Less' }}
  </a></u>
  </mat-card-content>

  <mat-card-footer></mat-card-footer>



    <pre> </pre>

    <div class="edit">
      <span mat-mini-fab color="primary" aria-label="Example icon button with a delete icon">
        <a href="/edit"style="color: blue;"><mat-icon >edit</mat-icon></a>
      </span> </div>
      
     <div class="delete" > <span  mat-mini-fab color="accent" aria-label="Example icon button with a delete icon">
        <a href="" style="color: red;"> <mat-icon>delete</mat-icon></a>
      </span>
    </div>


</mat-card>
<mat-divider></mat-divider>
<pre>  </pre>