<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label"></label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label"></label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="g">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label"></label>
  <input type="file" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label"></label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="description"></textarea>
</div><br>
<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" hideToggle
      *ngFor="let o of Questions ;let i=index;">
      <mat-expansion-panel-header>
          <mat-panel-title>
              Question n°{{i+1}}<input type="text" class="form-control">
          </mat-panel-title><pre>     </pre>
        <a href=""><button><mat-icon style="color: red;">delete</mat-icon></button></a>
      </mat-expansion-panel-header>
      <app-reponse></app-reponse>
  </mat-expansion-panel>

  <button (click)="print(init)">
      <mat-icon>add</mat-icon>
  </button>
  <button (click)="printi(init)">
      <mat-icon>moins</mat-icon>
  </button>





</mat-accordion>


<button class="butt" mat-raised-button color="primary">edit&nbsp; <mat-icon>done</mat-icon></button>
<pre>



  </pre>